<div>
  <div
    class="scroll-container demo-area flex min-h-[100svh] items-center justify-center"
  >
    <div
      class="block-demo__blocks"
      data-blur-reveal-children
      data-blur-reveal-scroll-container="scroll-container"
    >
      <div class="block-demo__block blurred-item"></div>
      <div class="block-demo__block blurred-item"></div>
      <div class="block-demo__block blurred-item"></div>
      <div class="block-demo__block blurred-item"></div>
      <div class="block-demo__block blurred-item"></div>
      <div class="block-demo__block blurred-item"></div>
    </div>
  </div>
</div>
