<div>
  <div
    class="scroll-container demo-area bg-background flex min-h-[100svh] items-center justify-center"
  >
    <p
      data-blur-reveal-words
      data-blur-reveal-words-scroll-container="scroll-container"
      class="words mx-auto max-w-lg"
    >
      By default, SplitText will split by type: "lines, words, chars" (meaning
      lines, words, and characters) but to maximize performance you should
      really only split what you need.
    </p>
  </div>
</div>
