<div>
  <div class="flex min-h-[100svh] items-center justify-center bg-slate-700">
  </div>
  <div
    class="scroll-container demo-area flex min-h-[100svh] items-center justify-center bg-white"
  >
    <div class="mx-auto max-w-lg">
      <h1
        class="font-title text-3xl font-bold"
        data-blue-reveal-characters
        data-blur-reveal-characters-scroll-container="scroll-container"
        data-blur-reveal-end-position="+=10%"
      >
        What I do
      </h1>
      <p
        data-blur-reveal-words
        data-blur-reveal-words-scroll-container="scroll-container"
        class="words"
      >
        By default, SplitText will split by type: "lines, words, chars" (meaning
        lines, words, and characters) but to maximize performance you should
        really only split what you need.
      </p>
    </div>
  </div>
</div>
