<div class="scroll-container flex min-h-[100svh] items-center justify-center">
  <div
    class="skills"
    data-blur-reveal-children
    data-blur-reveal-scroll-container="scroll-container"
  >
    <div class="skill__item blurred-item">Typescript</div>
    <div class="skill__item blurred-item">React</div>
    <div class="skill__item blurred-item">React Native</div>
    <div class="skill__item blurred-item">Node JS</div>
    <div class="skill__item blurred-item">Deno</div>
    <div class="skill__item blurred-item">Figma</div>
    <div class="skill__item blurred-item">Wordpress</div>
    <div class="skill__item blurred-item">Webflow</div>
    <div class="skill__item blurred-item">Ember</div>
    <div class="skill__item blurred-item">Astro</div>
  </div>
</div>

<style>
  .skills {
    text-align: center;
  }

  .skill__item {
    font-size: clamp(18px, 3vw, 42px);
    padding-top: 16px;
    padding-bottom: 16px;
  }
</style>
