---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Welcome />
  <div class="flex min-h-[100svh] items-center justify-center bg-amber-700">
    <h2 class="font-display text-center text-4xl font-bold">
      Hello World g y p q
    </h2>

    <button>Click me</button>
  </div>
  <div class="flex min-h-[100svh] items-center justify-center bg-red-700">
    <h2 class="font-neue text-center text-4xl font-bold">Hello World g</h2>
  </div>
  <div class="flex min-h-[100svh] items-center justify-center bg-green-700">
    <h2 class="text-center text-4xl font-bold">Hello World y</h2>
  </div>
  <div class="flex min-h-[100svh] items-center justify-center bg-slate-700">
    <h2 class="text-center text-4xl font-bold">Hello World</h2>
  </div>
</Layout>
