---
import LargeTitle from "../components/LargeTitle.astro";
import Intro from "../components/sections/Intro.astro";
import Skills from "../components/sections/Skills.astro";
import Work from "../components/sections/Work.astro";
import WorkGalleries from "../components/sections/WorkGalleries.astro";
import StaticContent from "../components/StaticContent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Intro />

  <LargeTitle className="about-me-title highlight-last-child" sectionId="about"
    >About Me.</LargeTitle
  >
  <StaticContent>
    I am a frontend developer based in Liverpool, England, with extensive
    experience across various projects and a core specialization in React-based
    web application development. I am currently open to both contract and
    full-time employment opportunities. My resumé is linked in the top right
    corner, and I can be contacted at <a
      href="mailto: muberyc@gmail.com"
      class="link-mask underline"
      data-content="muberyc@gmail.com">muberyc@gmail.com</a
    ><span class="highlight">.</span>
  </StaticContent>

  <LargeTitle
    className="what-i-do-title highlight-last-child"
    sectionId="skills">What I do.</LargeTitle
  >

  <Skills />
  <LargeTitle className="my-work-title highlight-last-child" sectionId="work"
    >My work.</LargeTitle
  >
  <Work />

  <LargeTitle
    className="contact-title"
    sectionId="contact"
    containerClassName="contact-section"
    ><a
      class="contact-title__link highlight-last-child"
      href="mailto: muberyc@gmail.com">Say Hello.</a
    ></LargeTitle
  >

  <WorkGalleries />
</Layout>
