---
const { className, containerClassName, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div
    class={`${containerClassName} scroll-container bg-background flex min-h-[100svh] items-center justify-center`}
  >
    <h2 class={`${className} font-title large-title text-center mx-auto`}>
      <slot />
    </h2>
  </div>
</section>
