<div class="font-title logo text-4xl">
  <span class="logo__title" data-logo-section="name" data-logo-default
    >Callum Mubery.</span
  >
  <span class="logo__title" data-logo-section="profession"
    >Frontend Developer.</span
  >

  <span class="logo__title" data-logo-section="contact">Hey.</span>
</div>

<script>
  const allTitles = document.querySelectorAll(".logo__title");
  const titles = {
    name: document.querySelector(".logo__title[data-logo-section='name']"),
    profession: document.querySelector(
      ".logo__title[data-logo-section='profession']",
    ),
    contact: document.querySelector(
      ".logo__title[data-logo-section='contact']",
    ),
  };

  let activeTitle: "name" | "profession" | "contact" | null = null;
  type ActiveTitle = "name" | "profession" | "contact";

  function animateTitle(name: ActiveTitle) {
    if (activeTitle !== name) {
      allTitles.forEach((title) => {
        title.classList.remove("show");
      });

      titles[name]?.classList.add("show");
      activeTitle = name;
    }
  }

  window.addEventListener("scroll::work", () => {
    animateTitle("profession");
  });

  window.addEventListener("scroll::contact", () => {
    animateTitle("contact");
  });

  window.addEventListener("scroll::about", () => {
    animateTitle("name");
  });
</script>

<style>
  .logo {
    font-family: var(--font-title);
    font-size: clamp(24px, 5vw, 36px);
    line-height: 1;
    position: relative;
    height: clamp(24px, 5vw, 36px);
  }

  .logo__title {
    position: absolute;
    top: 0;
    left: 0;
    transition:
      filter 0.3s ease,
      opacity 0.3s ease;
    filter: blur(20px);
    opacity: 0;
  }

  .logo__title.show {
    filter: blur(0px);
    opacity: 1;
  }
</style>
