<div
  class="navbar about-active fixed bottom-4 left-1/2 z-10 -translate-x-1/2 overflow-hidden"
>
  <div class="relative h-full w-full">
    <span class="nav-underlay absolute h-full bg-black"></span>
    <nav class="relative flex items-center">
      <button
        type="button"
        class="nav-item active"
        data-nav-section="about"
        aria-label="about"
      >
        <!-- prettier-ignore-start -->
        <span>A</span><span>b</span><span>o</span><span>u</span><span>t</span>
        <!-- prettier-ignore-end -->
      </button>
      <button
        type="button"
        class="nav-item"
        data-nav-section="work"
        aria-label="work"
      >
        <!-- prettier-ignore-start -->
        <span>W</span><span>o</span><span>r</span><span>k</span>
        <!-- prettier-ignore-start --></button
      >
      <button
        type="button"
        class="nav-item"
        data-nav-section="contact"
        aria-label="contact"
      >
        <!-- prettier-ignore-start -->
        <span>C</span><span>o</span><span>n</span><span>t</span><span>a</span
        ><span>c</span><span>t</span>
        <!-- prettier-ignore-start --></button
      >
    </nav>
  </div>
</div>

<style>
  .navbar {
    border-radius: 20px;
    backdrop-filter: blur(16px);
    background: var(--glass-gradient);
    --about-width: 110px;
    --work-width: 110px;
    --contact-width: 110px;
  }

  .nav-item {
    padding: 10px 20px;
    transition: 0.5s;
    width: 110px;
    cursor: pointer;
  }

  .nav-item.active {
    color: #fff;
  }

  .nav-item > span {
    display: inline-block;
  }

  @keyframes hop {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-3px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .nav-item > span:nth-child(1) {
    animation-delay: 0s;
  }
  .nav-item > span:nth-child(2) {
    animation-delay: 0.05s;
  }
  .nav-item > span:nth-child(3) {
    animation-delay: 0.1s;
  }
  .nav-item > span:nth-child(4) {
    animation-delay: 0.15s;
  }
  .nav-item > span:nth-child(5) {
    animation-delay: 0.2s;
  }
  .nav-item > span:nth-child(6) {
    animation-delay: 0.25s;
  }
  .nav-item > span:nth-child(7) {
    animation-delay: 0.3s;
  }

  .nav-item:hover > span {
    animation-name: hop;
    animation-duration: 0.3s;
  }

  .nav-underlay {
    width: 100px;
    border-radius: 20px;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

  .navbar.about-active {
    .nav-underlay {
      transform: translateX(0px);
      width: var(--about-width);
    }
  }

  .navbar.work-active {
    .nav-underlay {
      transform: translateX(var(--about-width));
      width: var(--work-width);
    }
  }

  .navbar.contact-active {
    .nav-underlay {
      transform: translateX(calc(var(--about-width) + var(--work-width)));
      width: var(--contact-width);
    }
  }
</style>

<script>
  const navbar = document.querySelector(".navbar")!;
  const allNavItems = document.querySelectorAll(".nav-item");
  let activeNav: "about" | "work" | "contact" | null = null;

  const navItems = {
    about: document.querySelector(".nav-item[data-nav-section='about']"),
    work: document.querySelector(".nav-item[data-nav-section='work']"),
    contact: document.querySelector(".nav-item[data-nav-section='contact']"),
  };
  type NavItems = keyof typeof navItems;

  const scrollPositions = {
    about: document.getElementById("about")!.offsetTop,
    work: document.getElementById("work")!.offsetTop,
    contact: document.getElementById("contact")!.offsetTop,
  };

  type ScrollPositions = keyof typeof scrollPositions;

  allNavItems.forEach((item) => {
    item.addEventListener("click", () => {
      allNavItems.forEach((navItem) => {
        navItem.classList.remove("active");
      });
      item.classList.add("active");

      const sectionId = item.getAttribute("data-nav-section");

      window.lenis.scrollTo(scrollPositions[sectionId as ScrollPositions]);
    });
  });

  function animateNav(name: NavItems) {
    navbar.classList.remove("about-active", "work-active", "contact-active");
    navbar.classList.add(name + "-active");

    allNavItems.forEach((navItem) => {
      navItem.classList.remove("active");
    });
    navItems[name]?.classList.add("active");

    activeNav = name;
  }

  window.addEventListener("scroll::contact", () => {
    if (activeNav !== "contact") {
      animateNav("contact");
    }
  });

  window.addEventListener("scroll::work", () => {
    if (activeNav !== "work") {
      animateNav("work");
    }
  });

  window.addEventListener("scroll::about", () => {
    if (activeNav !== "about") {
      animateNav("about");
    }
  });
</script>
