---
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <title>Callum Mubery | Frontend Development and Engineering</title>
      <meta
        name="description"
        content="Callum Mubery is a dedicated frontend developer specializing in React.js, TypeScript, and Node.js. Delivering modern, high-performance web solutions."
      />

      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "Callum Mubery",
          "url": "https://mubery.com/",
          "image": "https://mubery.com/images/profile/callum-mubery.png",
          "sameAs": [
            "https://www.linkedin.com/in/callum-mubery/",
            "https://github.com/cmubo",
            "https://x.com/callummubery"
          ],
          "jobTitle": "Frontend Developer",
          "knowsAbout": [
            "Frontend Development",
            "React.js",
            "TypeScript",
            "React Native",
            "Node.js",
            "Web Application Development",
            "UX Design",
            "Symfony",
            "Webflow",
            "Custom Components",
            "Wordpress",
            "Figma",
            "Ember JS",
            "PHP"
          ],
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Liverpool",
            "addressRegion": "England",
            "addressCountry": "UK"
          },
          "email": "mailto:callum@mubery.com",
          "description": "Callum Mubery is a dedicated frontend developer specializing in React.js, TypeScript, and Node.js. Building modern, high-performance web solutions and engaging user experiences."
        }
      </script>
      <link
        rel="icon"
        type="image/png"
        href="/favicon/favicon-96x96.png"
        sizes="96x96"
      />
      <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
      <link rel="shortcut icon" href="/favicon/favicon.ico" />
      <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/favicon/apple-touch-icon.png"
      />
      <meta name="apple-mobile-web-app-title" content="Mubery.com" />
      <link rel="manifest" href="/favicon/site.webmanifest" />
    </head>

    <body class="bg-background">
      <Header />

      <slot />

      <Navbar />

      <script>
        import Lenis from "lenis";
        import { gsap } from "gsap";
        import ScrollTrigger from "gsap/ScrollTrigger";
        import { SplitText } from "gsap/SplitText";

        import initialiseRevealCharactersInstances from "../lib/utils/init-reveal-characters-instances";
        import initialiseRevealWordInstances from "../lib/utils/init-reveal-word-instances";
        import initialiseRevealChildrenInstances from "../lib/utils/init-reveal-children-instances";
        import initLargeTitleRevealInstances from "../lib/utils/init-large-title-reveal";
        import initScrollEvents from "../lib/utils/scroll-events";

        gsap.registerPlugin(ScrollTrigger, SplitText);

        const lenis = new Lenis();
        window.lenis = lenis;

        // Synchronize Lenis scrolling with GSAP's ScrollTrigger plugin
        lenis.on("scroll", ScrollTrigger.update);

        // Add Lenis's requestAnimationFrame (raf) method to GSAP's ticker
        // This ensures Lenis's smooth scroll animation updates on each GSAP tick
        gsap.ticker.add((time) => {
          lenis.raf(time * 1000); // Convert time from seconds to milliseconds
        });

        // Disable lag smoothing in GSAP to prevent any delay in scroll animations
        gsap.ticker.lagSmoothing(0);

        initScrollEvents();
        initLargeTitleRevealInstances();
        initialiseRevealChildrenInstances();
        initialiseRevealWordInstances();
        initialiseRevealCharactersInstances();
      </script>
    </body>
  </>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>

  <script>
    console.log(
      "%c Hi! \u{1F44B} If you really wanna dig into this site, I've left the code public for anyone to see here: https://github.com/cmubo/portfolio",
      "color: #14e2d7",
    );
  </script>

</html>
