---
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Callum Mubery</title>
  </head>
  <body class="bg-background">
    <Header />

    <slot />

    <Navbar />

    <script>
      import Lenis from "lenis";
      import { gsap } from "gsap";
      import ScrollTrigger from "gsap/ScrollTrigger";
      import { SplitText } from "gsap/SplitText";

      import initialiseRevealCharactersInstances from "../lib/utils/init-reveal-characters-instances";
      import initialiseRevealWordInstances from "../lib/utils/init-reveal-word-instances";
      import initialiseRevealChildrenInstances from "../lib/utils/init-reveal-children-instances";
      import initLargeTitleRevealInstances from "../lib/utils/init-large-title-reveal";
      import initScrollEvents from "../lib/utils/scroll-events";

      gsap.registerPlugin(ScrollTrigger, SplitText);

      const lenis = new Lenis();
      window.lenis = lenis;

      // Synchronize Lenis scrolling with GSAP's ScrollTrigger plugin
      lenis.on("scroll", ScrollTrigger.update);

      // Add Lenis's requestAnimationFrame (raf) method to GSAP's ticker
      // This ensures Lenis's smooth scroll animation updates on each GSAP tick
      gsap.ticker.add((time) => {
        lenis.raf(time * 1000); // Convert time from seconds to milliseconds
      });

      // Disable lag smoothing in GSAP to prevent any delay in scroll animations
      gsap.ticker.lagSmoothing(0);

      initScrollEvents();
      initLargeTitleRevealInstances();
      initialiseRevealChildrenInstances();
      initialiseRevealWordInstances();
      initialiseRevealCharactersInstances();
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
